workflow/humantasks/SubscriptionsApprovalTask/SubscriptionsApprovalTaskService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SubscriptionApproval" targetNamespace="http://org.wso2.carbon/subscriptions/"
	xmlns:tns="http://org.wso2.carbon/subscriptions/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tschema="http://workflow.subscription.apimgt.carbon.wso2.org"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
	<wsdl:documentation>
		Example for WS-HumanTask 1.1 - WS-HumanTask Task Interface Definition
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://workflow.subscription.apimgt.carbon.wso2.org"
			xmlns:tns="http://workflow.subscription.apimgt.carbon.wso2.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified">
			<xsd:element name="SubscriptionApprovalData" type="tns:SubscriptionApprovalDataType" />
			<xsd:complexType name="SubscriptionApprovalDataType">
				<xsd:sequence>

					<xsd:element name="apiName" type="xsd:string" />
					<xsd:element name="apiVersion" type="xsd:string" />
					<xsd:element name="apiContext" type="xsd:string" />
					<xsd:element name="apiProvider" type="xsd:string"></xsd:element>
					<xsd:element name="subscriber" type="xsd:string"></xsd:element>
					<xsd:element name="applicationName" type="xsd:string"></xsd:element>
					<xsd:element name="tierName" type="xsd:string"></xsd:element>
					<xsd:element name="callBackURL" type="xsd:string"></xsd:element>
					<xsd:element name="workflowExternalRef" type="xsd:string"></xsd:element>
					<xsd:element name="operatorID" type="xsd:string"></xsd:element>
					<xsd:element name="authorizedRole" type="xsd:string"></xsd:element>
					<xsd:element name="applicationDescription" type="xsd:string"></xsd:element>
					<xsd:element name="applicationId" type="xsd:string"></xsd:element>
					<xsd:element name="apiID" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SubscriptionApprovalNotificationData" type="tns:SubscriptionApprovalNotificationDataType" />
			<xsd:complexType name="SubscriptionApprovalNotificationDataType">
				<xsd:sequence>
					<xsd:element name="firstname" type="xsd:string" />
					<xsd:element name="lastname" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SubscriptionApprovalResponse" type="tns:SubscriptionApprovalResponseType"></xsd:element>
			<xsd:complexType name="SubscriptionApprovalResponseType">
        		<xsd:sequence>
        			<xsd:element name="status" type="xsd:string"></xsd:element>
                                <xsd:element name="workflowExternalRef" type="xsd:string"></xsd:element>
                                <xsd:element name="description" type="xsd:string"></xsd:element>
				<xsd:element name="completedByUser" type="xsd:string"></xsd:element>
				<xsd:element name="completedOn" type="xsd:string"></xsd:element>
				<xsd:element name="selectedTier" type="xsd:string"></xsd:element>
        		</xsd:sequence>
        	</xsd:complexType>
		</xsd:schema>
    </wsdl:types>

	<wsdl:message name="SubscriptionApprovalRequest">
		<wsdl:part name="SubscriptionApprovalRequest" element="tschema:SubscriptionApprovalData" />
	</wsdl:message>

	<wsdl:message name="SubscriptionApprovalResponse">
		<wsdl:part name="SubscriptionApprovalResponse" element="tschema:SubscriptionApprovalResponse" />
	</wsdl:message>

	<wsdl:message name="SubscriptionApprovalNotificationRequest">
		<wsdl:part name="SubscriptionApprovalNotificationRequest" element="tschema:SubscriptionApprovalNotificationData" />
	</wsdl:message>

	<wsdl:portType name="SubscriptionsHandlingPT">
		<wsdl:operation name="approve">
			<wsdl:input message="tns:SubscriptionApprovalRequest" />
		</wsdl:operation>

		<wsdl:operation name="escalate">
			<wsdl:input message="tns:SubscriptionApprovalRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="SubscriptionsHandlingCallbackPT">
		<wsdl:operation name="approvalResponse">
			<wsdl:input message="tns:SubscriptionApprovalResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="SubscriptionApprovalReminderPT">
		<wsdl:operation name="notify">
			<wsdl:input message="tns:SubscriptionApprovalNotificationRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SubscriptionSoapBinding" type="tns:SubscriptionsHandlingPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="approve">
			<soap:operation soapAction="urn:approve" style="document" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://org.wso2.carbon/subscriptions/" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="escalate">
			<soap:operation soapAction="urn:escalate" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SubscriptionSoapBindingReminder" type="tns:SubscriptionApprovalReminderPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="notify">
			<soap:operation soapAction="urn:notify" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SubscriptionSoapBindingCB" type="tns:SubscriptionsHandlingCallbackPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="approvalResponse">
			<soap:operation soapAction="urn:approvalResponse"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SubscriptionService">
		<wsdl:port name="SubscriptionPort" binding="tns:SubscriptionSoapBinding">
			<soap:address location="http://localhost:9765/services/SubscriptionService" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="SubscriptionReminderService">
		<wsdl:port name="SubscriptionReminderPort" binding="tns:SubscriptionSoapBindingReminder">
			<soap:address location="http://localhost:9765/services/SubscriptionReminderService" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="SubscriptionServiceCB">
		<wsdl:port name="SubscriptionPortCB" binding="tns:SubscriptionSoapBindingCB">
			<soap:address location="http://localhost:9765/services/SubscriptionServiceCB" />
		</wsdl:port>

    </wsdl:service>

</wsdl:definitions>

