workflow/bpel/ApplicationApprovalWorkFlowProcess/ApplicationsApprovalTaskService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ApplicationApproval" targetNamespace="http://org.wso2.carbon/applications/"
	xmlns:tns="http://org.wso2.carbon/applications/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tschema="http://workflow.application.apimgt.carbon.wso2.org"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
	<wsdl:documentation>
		Example for WS-HumanTask 1.1 - WS-HumanTask Task Interface Definition
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://workflow.application.apimgt.carbon.wso2.org"
			xmlns:tns="http://workflow.application.apimgt.carbon.wso2.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified">
			<xsd:element name="ApplicationApprovalData" type="tns:ApplicationApprovalDataType" />
			<xsd:complexType name="ApplicationApprovalDataType">
				<xsd:sequence>
					<xsd:element name="applicationName" type="xsd:string" />
					<xsd:element name="applicationId" type="xsd:string" />
					<xsd:element name="applicationTier" type="xsd:string" />
					<xsd:element name="applicationCallbackUrl" type="xsd:string"></xsd:element>
					<xsd:element name="applicationDescription" type="xsd:string"></xsd:element>
					<xsd:element name="tenantDomain" type="xsd:string"></xsd:element>
					<xsd:element name="userName" type="xsd:string"></xsd:element>
					<xsd:element name="workflowExternalRef" type="xsd:string"></xsd:element>
					<xsd:element name="callBackURL" type="xsd:string"></xsd:element>
					<xsd:element name="operatorID" type="xsd:string"></xsd:element>
					<xsd:element name="authorizedRole" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ApplicationApprovalNotificationData" type="tns:ApplicationApprovalNotificationDataType" />
			<xsd:complexType name="ApplicationApprovalNotificationDataType">
				<xsd:sequence>
					<xsd:element name="firstname" type="xsd:string" />
					<xsd:element name="lastname" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ApplicationApprovalResponse" type="tns:ApplicationApprovalResponseType"></xsd:element>
			<xsd:complexType name="ApplicationApprovalResponseType">
        		<xsd:sequence>
        			<xsd:element name="status" type="xsd:string"></xsd:element>
                    <xsd:element name="workflowExternalRef" type="xsd:string"></xsd:element>
                    <xsd:element name="description" type="xsd:string"></xsd:element>
                    <xsd:element name="completedByUser" type="xsd:string"></xsd:element>
					<xsd:element name="completedOn" type="xsd:string"></xsd:element>
					<xsd:element name="selectedTier" type="xsd:string"></xsd:element>
        		</xsd:sequence>
        	</xsd:complexType>
		</xsd:schema>
    </wsdl:types>

	<wsdl:message name="ApplicationApprovalRequest">
		<wsdl:part name="ApplicationApprovalRequest" element="tschema:ApplicationApprovalData" />
	</wsdl:message>

	<wsdl:message name="ApplicationApprovalResponse">
		<wsdl:part name="ApplicationApprovalResponse" element="tschema:ApplicationApprovalResponse" />
	</wsdl:message>

	<wsdl:message name="ApplicationApprovalNotificationRequest">
		<wsdl:part name="ApplicationApprovalNotificationRequest" element="tschema:ApplicationApprovalNotificationData" />
	</wsdl:message>

	<wsdl:portType name="ApplicationsHandlingPT">
		<wsdl:operation name="approve">
			<wsdl:input message="tns:ApplicationApprovalRequest" />
		</wsdl:operation>

		<wsdl:operation name="escalate">
			<wsdl:input message="tns:ApplicationApprovalRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="ApplicationsHandlingCallbackPT">
		<wsdl:operation name="approvalResponse">
			<wsdl:input message="tns:ApplicationApprovalResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="ApplicationApprovalReminderPT">
		<wsdl:operation name="notify">
			<wsdl:input message="tns:ApplicationApprovalNotificationRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ApplicationSoapBinding" type="tns:ApplicationsHandlingPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="approve">
			<soap:operation soapAction="urn:approve" style="document" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://org.wso2.carbon/applications/" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="escalate">
			<soap:operation soapAction="urn:escalate" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ApplicationSoapBindingReminder" type="tns:ApplicationApprovalReminderPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="notify">
			<soap:operation soapAction="urn:notify" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ApplicationSoapBindingCB" type="tns:ApplicationsHandlingCallbackPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="approvalResponse">
			<soap:operation soapAction="urn:approvalResponse"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ApplicationService">
		<wsdl:port name="ApplicationPort" binding="tns:ApplicationSoapBinding">
			<soap:address location="http://localhost:9765/services/ApplicationService" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="ApplicationReminderService">
		<wsdl:port name="ApplicationReminderPort" binding="tns:ApplicationSoapBindingReminder">
			<soap:address location="http://localhost:9765/services/ApplicationReminderService" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="ApplicationServiceCB">
		<wsdl:port name="ApplicationPortCB" binding="tns:ApplicationSoapBindingCB">
			<soap:address location="http://localhost:9765/services/ApplicationServiceCB" />
		</wsdl:port>

    </wsdl:service>

</wsdl:definitions>

