workflow/bpel/ApplicationApprovalWorkFlowProcess/ApplicationApprovalWorkFlowProcessArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://workflow.application.apimgt.carbon.wso2.org"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" 
	xmlns:wsdl="http://org.wso2.carbon/applications/"
	xmlns:wsdl1="http://callback.workflow.apimgt.carbon.wso2.org" 
	xmlns:wsdl2="http://org.wso2.carbon/wso2telco/workflow" 
	xmlns:wsdl3="http://org.wso2.carbon/wso2telco/workflow/notify"
	name="ApplicationApprovalWorkFlowProcess"
	targetNamespace="http://workflow.application.apimgt.carbon.wso2.org">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		TYPE DEFINITION - List of services participating in this BPEL process The 
		default output of the BPEL designer uses strings as input and output to the 
		BPEL Process. But you can define or import any XML Schema type and us them 
		as part of the message types. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="AAPLT">
		<plnk:role name="role1" portType="wsdl:ApplicationsHandlingPT" />
		<plnk:role name="role2" portType="wsdl:ApplicationsHandlingCallbackPT" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="CBPLT">
		<plnk:role name="role3" portType="wsdl1:WorkflowCallbackServicePortType" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="AAOPPLT">
		<plnk:role name="wso2telcoDBHandlerRole" portType="wsdl2:Wso2telcoWorkflowApprovalServicePT" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="AAUPLT">
  		<plnk:role name="wso2telcoAuditRole" portType="wsdl2:Wso2telcoWorkflowApprovalServicePT"/>
  	</plnk:partnerLinkType>
  	<plnk:partnerLinkType name="AXNOTIFYPLT">
  		<plnk:role name="wso2telcoNotifyRole" portType="wsdl3:Wso2telcoWorkflowNotificationServicePT"/>
  	</plnk:partnerLinkType>
	
	<import location="ApplicationsApprovalTaskService.wsdl" namespace="http://org.wso2.carbon/applications/" />
	<import location="WorkflowCallbackService.wsdl" namespace="http://callback.workflow.apimgt.carbon.wso2.org" />
	<import location="Wso2telcoWorkflowApprovalService.wsdl" namespace="http://org.wso2.carbon/wso2telco/workflow" />
	<import location="Wso2telcoWorkflowNotificationService.wsdl" namespace="http://org.wso2.carbon/wso2telco/workflow/notify"/>
	
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://workflow.application.apimgt.carbon.wso2.org">

			<element name="ApplicationApprovalWorkFlowProcessRequest">
				<complexType>
					<sequence>
						<element name="applicationName" type="string" />
						<element name="applicationId" type="string" />
						<element name="applicationTier" type="string" />
						<element name="applicationCallbackUrl" type="string"></element>
						<element name="applicationDescription" type="string"></element>
						<element name="tenantDomain" type="string"></element>
						<element name="userName" type="string"></element>
						<element name="workflowExternalRef" type="string"></element>
						<element name="callBackURL" type="string"></element>
					</sequence>
				</complexType>
			</element>

			<element name="ApplicationApprovalWorkFlowProcessResponse">
				<complexType>
					<sequence>
						<element name="result" type="string" />
					</sequence>
				</complexType>
			</element>

		</schema>
	</types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		MESSAGE TYPE DEFINITION - Definition of the message types used as part of 
		the port type defintions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<message name="ApplicationApprovalWorkFlowProcessRequestMessage">
		<part element="tns:ApplicationApprovalWorkFlowProcessRequest"
			name="payload" />
	</message>

	<message name="ApplicationApprovalWorkFlowProcessResponseMessage">
		<part element="tns:ApplicationApprovalWorkFlowProcessResponse"
			name="payload" />
	</message>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PORT TYPE DEFINITION - A port type groups a set of operations into a logical 
		service unit. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the ApplicationApprovalWorkFlowProcess BPEL 
		process -->
	<portType name="ApplicationApprovalWorkFlowProcess">
		<operation name="initiate">
			<input message="tns:ApplicationApprovalWorkFlowProcessRequestMessage" />
		</operation>
	</portType>

	<!-- portType implemented by the requester of ApplicationApprovalWorkFlowProcess 
		BPEL process for asynchronous callback purposes -->
	<portType name="ApplicationApprovalWorkFlowProcessCallback">
		<operation name="onResult">
			<input message="tns:ApplicationApprovalWorkFlowProcessResponseMessage" />
		</operation>
	</portType>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PARTNER LINK TYPE DEFINITION the ApplicationApprovalWorkFlowProcess partnerLinkType 
		binds the provider and requester portType into an asynchronous conversation. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="ApplicationApprovalWorkFlowProcess">
		<plnk:role name="ApplicationApprovalWorkFlowProcessProvider"
			portType="tns:ApplicationApprovalWorkFlowProcess" />
		<plnk:role name="ApplicationApprovalWorkFlowProcessRequester"
			portType="tns:ApplicationApprovalWorkFlowProcessCallback" />
	</plnk:partnerLinkType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		BINDING DEFINITION - Defines the message format and protocol details for 
		a web service. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<binding name="ApplicationApprovalWorkFlowProcessBinding" type="tns:ApplicationApprovalWorkFlowProcess">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="initiate">
			<soap:operation
				soapAction="http://workflow.application.apimgt.carbon.wso2.org/initiate" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>

	<binding name="ApplicationApprovalWorkFlowProcessCallbackBinding"
		type="tns:ApplicationApprovalWorkFlowProcessCallback">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="onResult">
			<soap:operation
				soapAction="http://workflow.application.apimgt.carbon.wso2.org/onResult" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<service name="ApplicationApprovalWorkFlowProcess">
		<port binding="tns:ApplicationApprovalWorkFlowProcessBinding"
			name="ApplicationApprovalWorkFlowProcessPort">
			<soap:address
				location="http://localhost:8080/ApplicationApprovalWorkFlowProcess" />
		</port>
	</service>

	<service name="ApplicationApprovalWorkFlowProcessCallback">
		<port binding="tns:ApplicationApprovalWorkFlowProcessCallbackBinding"
			name="ApplicationApprovalWorkFlowProcessPortCallbackPort">
			<soap:address
				location="http://localhost:8080/ApplicationApprovalWorkFlowProcessCallback" />
		</port>
	</service>
</definitions>
