workflow/axis2services/workflow-approval-service/src/main/resources/META-INF/WorkflowNotificationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WorkflowNotificationService"
	targetNamespace="http://org.wso2.carbon/axiata/workflow/notify"
	xmlns:axnotify="http://org.wso2.carbon/axiata/workflow/notify"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:ax="http://org.wso2.carbon/axiata/workflow/notify">
	
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://org.wso2.carbon/axiata/workflow/notify" xmlns:axnotify="http://org.wso2.carbon/axiata/workflow/notify" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
			<xsd:element name="HUBAdminAppApprovalEmailNotificationRequest" type="axnotify:HUBAdminAppApprovalEmailNotificationRequestType"/>
			<xsd:complexType name="HUBAdminAppApprovalEmailNotificationRequestType">
				<xsd:sequence>
					<xsd:element name="receiverRole" type="xsd:string"/>
					<xsd:element name="applicationName" type="xsd:string"/>
					<xsd:element name="applicationTier" type="xsd:string"/>
					<xsd:element name="applicationDescription" type="xsd:string"/>
					<xsd:element name="userName" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="HUBAdminSubApprovalEmailNotificationRequest" type="axnotify:HUBAdminSubApprovalEmailNotificationRequestType"/>
			<xsd:complexType name="HUBAdminSubApprovalEmailNotificationRequestType">
				<xsd:sequence>
					<xsd:element name="receiverRole" type="xsd:string"/>
					<xsd:element name="apiName" type="xsd:string"/>
					<xsd:element name="apiVersion" type="xsd:string"/>
					<xsd:element name="apiContext" type="xsd:string"/>
					<xsd:element name="apiProvider" type="xsd:string"/>
					<xsd:element name="subscriber" type="xsd:string"/>
					<xsd:element name="subscriptionTier" type="xsd:string"/>
					<xsd:element name="applicationName" type="xsd:string"/>
					<xsd:element name="applicationDescription" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="PLUGINAdminAppApprovalEmailNotificationRequest" type="axnotify:PLUGINAdminAppApprovalEmailNotificationRequestType"/>
			<xsd:complexType name="PLUGINAdminAppApprovalEmailNotificationRequestType">
				<xsd:sequence>
					<xsd:element name="receiverRole" type="xsd:string"/>
					<xsd:element name="applicationName" type="xsd:string"/>
					<xsd:element name="applicationTier" type="xsd:string"/>
					<xsd:element name="applicationDescription" type="xsd:string"/>
					<xsd:element name="userName" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="PLUGINAdminSubApprovalEmailNotificationRequest" type="axnotify:PLUGINAdminSubApprovalEmailNotificationRequestType"/>
			<xsd:complexType name="PLUGINAdminSubApprovalEmailNotificationRequestType">
				<xsd:sequence>
					<xsd:element name="receiverRole" type="xsd:string"/>
					<xsd:element name="apiName" type="xsd:string"/>
					<xsd:element name="apiVersion" type="xsd:string"/>
					<xsd:element name="apiContext" type="xsd:string"/>
					<xsd:element name="apiProvider" type="xsd:string"/>
					<xsd:element name="subscriber" type="xsd:string"/>
					<xsd:element name="subscriptionTier" type="xsd:string"/>
					<xsd:element name="applicationName" type="xsd:string"/>
					<xsd:element name="applicationDescription" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AppApprovalStatusSPEmailNotificationRequest" type="axnotify:AppApprovalStatusSPEmailNotificationRequestType"/>
			<xsd:complexType name="AppApprovalStatusSPEmailNotificationRequestType">
				<xsd:sequence>
					<xsd:element name="applicationName" type="xsd:string"/>
					<xsd:element name="applicationTier" type="xsd:string"/>
					<xsd:element name="applicationDescription" type="xsd:string"/>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="approvalStatus" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SubApprovalStatusSPEmailNotificationRequest" type="axnotify:SubApprovalStatusSPEmailNotificationRequestType"/>
			<xsd:complexType name="SubApprovalStatusSPEmailNotificationRequestType">
				<xsd:sequence>
					<xsd:element name="apiName" type="xsd:string"/>
					<xsd:element name="apiVersion" type="xsd:string"/>
					<xsd:element name="apiContext" type="xsd:string"/>
					<xsd:element name="apiProvider" type="xsd:string"/>
					<xsd:element name="subscriber" type="xsd:string"/>
					<xsd:element name="subscriptionTier" type="xsd:string"/>
					<xsd:element name="applicationName" type="xsd:string"/>
					<xsd:element name="applicationDescription" type="xsd:string"/>
					<xsd:element name="approvalStatus" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="HUBAdminAppApprovalEmailNotificationRequest">
    <wsdl:part name="HUBAdminAppApprovalEmailNotificationRequest" element="axnotify:HUBAdminAppApprovalEmailNotificationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HUBAdminSubApprovalEmailNotificationRequest">
    <wsdl:part name="HUBAdminSubApprovalEmailNotificationRequest" element="axnotify:HUBAdminSubApprovalEmailNotificationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PLUGINAdminAppApprovalEmailNotificationRequest">
    <wsdl:part name="PLUGINAdminAppApprovalEmailNotificationRequest" element="axnotify:PLUGINAdminAppApprovalEmailNotificationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PLUGINAdminSubApprovalEmailNotificationRequest">
    <wsdl:part name="PLUGINAdminSubApprovalEmailNotificationRequest" element="axnotify:PLUGINAdminSubApprovalEmailNotificationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppApprovalStatusSPEmailNotificationRequest">
    <wsdl:part name="AppApprovalStatusSPEmailNotificationRequest" element="axnotify:AppApprovalStatusSPEmailNotificationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubApprovalStatusSPEmailNotificationRequest">
    <wsdl:part name="SubApprovalStatusSPEmailNotificationRequest" element="axnotify:SubApprovalStatusSPEmailNotificationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WorkflowNotificationServicePT">
    <wsdl:operation name="sendHUBAdminAppApprovalEmailNotification">
      	<wsdl:input message="ax:HUBAdminAppApprovalEmailNotificationRequest">
    	</wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendHUBAdminSubApprovalEmailNotification">
      	<wsdl:input message="ax:HUBAdminSubApprovalEmailNotificationRequest">
    	</wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendPLUGINAdminAppApprovalEmailNotification">
      	<wsdl:input message="ax:PLUGINAdminAppApprovalEmailNotificationRequest">
    	</wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendPLUGINAdminSubApprovalEmailNotification">
      	<wsdl:input message="ax:PLUGINAdminSubApprovalEmailNotificationRequest">
    	</wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendAppApprovalStatusSPEmailNotification">
      	<wsdl:input message="ax:AppApprovalStatusSPEmailNotificationRequest">
    	</wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendSubApprovalStatusSPEmailNotification">
      	<wsdl:input message="ax:SubApprovalStatusSPEmailNotificationRequest">
    	</wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorkflowNotificationServiceSOAP" type="ax:WorkflowNotificationServicePT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendHUBAdminAppApprovalEmailNotification">
      <soap:operation soapAction="http://org.wso2.carbon/applications/axiata/workflow/notify/sendHUBAdminAppApprovalEmailNotification"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendHUBAdminSubApprovalEmailNotification">
      <soap:operation soapAction="http://org.wso2.carbon/subscriptions/axiata/workflow/notify/sendHUBAdminSubApprovalEmailNotification"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendPLUGINAdminAppApprovalEmailNotification">
      <soap:operation soapAction="http://org.wso2.carbon/applications/axiata/workflow/notify/sendPLUGINAdminAppApprovalEmailNotification"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendPLUGINAdminSubApprovalEmailNotification">
      <soap:operation soapAction="http://org.wso2.carbon/subscriptions/axiata/workflow/notify/sendPLUGINAdminSubApprovalEmailNotification"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendAppApprovalStatusSPEmailNotification">
      <soap:operation soapAction="http://org.wso2.carbon/applications/axiata/workflow/notify/sendAppApprovalStatusSPEmailNotification"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="sendSubApprovalStatusSPEmailNotification">
      <soap:operation soapAction="http://org.wso2.carbon/subscriptions/axiata/workflow/notify/sendSubApprovalStatusSPEmailNotification"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkflowNotificationService">
    <wsdl:port name="WorkflowNotificationServiceSOAP" binding="ax:WorkflowNotificationServiceSOAP">
      <soap:address location="http://localhost:8280/services/WorkflowNotificationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>